######################
# Project Specific
######################
/src/main/webapp/dist
#/src/main/webapp/bower_components
/src/main/resources/config/application-dev.yml
/src/main/resources/config/application-prod.yml
/src/main/webapp/META-INF/**
######################
# Node
######################
/node/**
/node_modules/**
######################
# bower components
######################
/src/main/webapp/bower_components/components-font-awesome/fonts/*
######################
# SASS
######################
.sass-cache/**

######################
# Eclipse
######################
*.pydevproject
.project
.metadata
/bin/**
/tmp/**
/tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/**
.loadpath
/src/main/resources/rebel.xml
src/main/webapp/node/**
src/main/webapp/node_modules/**
src/main/webapp/package-lock.json

# External tool builders
.externalToolBuilders/**

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

######################
# Intellij
######################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Maven
######################
/log/**
/target/**

######################
# Gradle
######################
.gradle/**

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# Mac OSX
######################
.DS_Store
.svn

######################
# Gradle Wrapper
######################
!gradle/wrapper/gradle-wrapper.jar

/target/
