language: java

services:
  - docker

matrix:
  fast_finish: true
  include:
    - os: linux
      #dist: trusty
      jdk: openjdk8
    - os: linux
      #dist: trusty
      jdk: openjdk11

addons:
  apt:
    packages:
      - language-pack-fr

env:
  global:
    - LANG=fr_FR.UTF-8
    - LC_ALL=fr_FR.UTF-8
    - LANGUAGE=fr_FR.UTF-8
    - LC_CTYPE=fr_FR.UTF-8
    - TZ=Europe/Paris

cache:
    directories:
        - $HOME/.m2/repository

sudo: required

before_install:
  - docker-compose version
  - export TEST_DIR=`pwd`; echo $TEST_DIR
  # install for mariadb
  - sudo service mysql stop
  - sudo apt-get remove mysql-server* mysql-common libmysqlclient*
  - sudo apt-get update
  - sudo apt-get install mariadb-client net-tools
  - cd .. && git clone https://github.com/GIP-RECIA/docker-mariadb.git && cd docker-mariadb
  - docker-compose pull && docker-compose build
  - MYSQL_ROOT_PASSWORD=root MYSQL_DATABASE=publisher_test MYSQL_HOST=db MYSQL_USER=myuser MYSQL_PASSWORD=secret MYSQL_USER_HOST=% docker-compose up --build -d
  # install for openldap
  - cd .. && git clone https://github.com/GIP-RECIA/docker-openldap-test.git && cd docker-openldap-test
  - docker-compose pull && docker-compose build
  - docker-compose up -d
  # test for running services
  - sleep 10
  - docker ps -a
  - docker inspect -f '{{.State.Health.Status}}' mariadb-strict
  - mysql --port 3306 -h 127.0.0.1 -u root -proot -e "show databases;"
  - mysql --port 3306 -h 127.0.0.1 -u root -proot -e "drop database if exists publisher_test; create database publisher_test DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_520_ci;"
  - mkdir $HOME/tmp
  - cd $TEST_DIR && pwd
  - env
  - ./mvnw --version

before_script:
  - ./mvnw clean generate-sources -Ptravis -B
  - ./mvnw compile liquibase:update -Ptravis -B
  # apply Database fix in waiting a management of "perm" not null and "perm" is null in abstract way
  - mysql --port 3306 -h 127.0.0.1 -u root -proot -e "ALTER TABLE publisher_test.t_permission CHANGE perm perm VARCHAR(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_520_ci NULL;"

script:
  - ./mvnw test -Ptravis -Dspring.profiles.active=test -Dapp.upload.path=$HOME/tmp -Dapp.upload.protectedPath=$HOME/tmp -Dspring.jpa.show-sql=false -Dlogging.config=classpath:logback-travis.xml -B
  - ./mvnw notice:check
  - ./mvnw license:check


