
<div>
    <h2><span translate="publisherApp.reader.detail.title">Reader</span> {{reader.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span translate="publisherApp.reader.name">Name</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{reader.name}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="publisherApp.reader.displayName">DisplayName</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{reader.displayName}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="publisherApp.reader.description">Description</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{reader.description}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="publisherApp.reader.authorizedTypes">AuthorizedTypes</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" ng-repeat="type in reader.authorizedTypes" value="{{'enum.itemType.' + type | translate}}"readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="publisherApp.reader.classificationDecorations">ClassificationDecorations</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" ng-repeat="type in reader.classificationDecorations" value="{{'enum.classificationDecorType.' + type | translate}}"readonly>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="reader"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
