<div>

    <h2 translate="manager.contents.pending.title">Item</h2>

    <div class="modal fade" id="deleteItemConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(item.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="publisherApp.item.delete.question" translate-values="{id: item.title}">Are you sure you want to delete this Item?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="validateItemConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="validateForm" ng-submit="confirmValidate(item.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.validate.title">Confirm validation operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="publisherApp.item.validate.question" translate-values="{id: item.title}">Are you sure you want to validate this Item?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="validateForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-ok-circle"></span>&nbsp;<span translate="entity.action.validate">Validate</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive table-responsive-to-cards">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th class="hidden">ID</th>
                    <th translate="publisherApp.item.type">Type</th>
                    <th translate="publisherApp.item.title">Title</th>
                    <th translate="publisherApp.item.created">Created</th>
                    <!--<th class="hidden" translate="publisherApp.item.createdBy">CreatedBy</th>-->
                    <!--<th class="hidden" translate="publisherApp.item.createdDate">CreatedDate</th>-->
                    <th class="hidden" translate="publisherApp.item.enclosure">Enclosure</th>
                    <th class="fixed-date-width" translate="publisherApp.item.startDate">StartDate</th>
                    <th class="fixed-date-width" translate="publisherApp.item.endDate">EndDate</th>
                    <th class="" translate="publisherApp.item.lastModified">LastModified</th>
                    <!--<th class="" translate="publisherApp.item.lastModifiedBy">LastModifiedBy</th>-->
                    <!--<th class="hidden-sm hidden-md" translate="publisherApp.item.lastModifiedDate">LastModifiedDate</th>-->
                    <th class="hidden-lg hidden-md" translate="publisherApp.item.validated">Validated</th>
                    <!--<th class="hidden" translate="publisherApp.item.validatedBy">ValidatedBy</th>-->
                    <!--<th class="visible-xs-inline-block" translate="publisherApp.item.validatedDate">ValidatedDate</th>-->
                    <th class="hidden" translate="publisherApp.item.status">Status</th>
                    <th class="visible-xs visible-sm" translate="publisherApp.item.summary">Summary</th>
                    <th class="hidden" translate="publisherApp.item.body">Body</th>
                    <th class="hidden-sm hidden-md" translate="publisherApp.item.rssAllowed">rssAllowed</th>
                    <th ng-show="$parent.organizations.length > 1" translate="publisherApp.item.organization">organization</th>
                    <th class="hidden" translate="publisherApp.item.redactor">redactor</th>
                    <th class="action"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items" ng-class="{ 'highlight' : item.highlight }">
                    <td class="hidden" data-label="ID"><a ui-sref="itemDetail({id:item.id})">{{item.id}}</a></td>
                    <td data-label="{{'publisherApp.item.type' | translate}}">{{'enum.itemType.' + item.type | translate}}</td>
                    <td class="longtext" data-label="{{'publisherApp.item.title' | translate}}">{{item.title}}</td>
                    <td class="" data-label="{{'publisherApp.item.created' | translate}}">
                        <span data-label="{{'publisherApp.item.beforeDate' | translate}}">{{item.createdDate | date:'medium'}}</span>
                        <span data-label="{{'publisherApp.item.beforeName' | translate}}">{{item.createdBy.displayName}}</span></td>
                    <!--<td class="hidden" data-label="{{'publisherApp.item.displayName' | translate}}">{{item.createdBy.displayName}}</td>-->
                    <!--<td class="hidden" data-label="{{'publisherApp.item.createdDate' | translate}}">{{item.createdDate | date:'medium'}}</td>-->
                    <td class="hidden" data-label="{{'publisherApp.item.enclosure' | translate}}">
                        <img ng-if="item.enclosure" name="enclosure" id="enclosure"	ng-src="{{item.enclosure}}" class="img-responsive" />
                    </td>
                    <td class="text-center fixed-date-width" data-label="{{'publisherApp.item.startDate' | translate}}">{{item.startDate | date:'mediumDate'}}</td>
                    <td class="text-center fixed-date-width" data-label="{{'publisherApp.item.endDate' | translate}}">{{item.endDate | date:'mediumDate'}}</td>
                        <td class="" data-label="{{'publisherApp.item.lastModified' | translate}}">
                            <span data-label="{{'publisherApp.item.beforeDate' | translate}}">{{item.lastModifiedDate | date:'medium'}}</span>
                            <span data-label="{{'publisherApp.item.beforeName' | translate}}">{{item.lastModifiedBy.displayName}}</span>
                    </td>
                    <!--<td class="" data-label="{{'publisherApp.item.lastModifiedBy' | translate}}">-->
                    <!--<subject-infos subject="item.lastModifiedBy.subject" ng-click="viewSubject(item.lastModifiedBy)" user-displayed-attrs="userAttrs"></subject-infos>-->
                    <!--</td>-->
                    <!--<td class="hidden-sm hidden-md" data-label="{{'publisherApp.item.lastModifiedDate' | translate}}">{{item.lastModifiedDate | date:'medium'}}</td>-->
                        <td class="hidden-lg hidden-md" data-label="{{'publisherApp.item.validated' | translate}}">
                            <span data-label="{{'publisherApp.item.beforeDate' | translate}}">{{item.validatedDate | date:'medium'}}</span>
                            <span data-label="{{'publisherApp.item.beforeName' | translate}}">{{item.validatedBy.displayName}}</span></td>
                        <!--<td class="hidden" data-label="{{'publisherApp.item.validatedBy' | translate}}">{{item.validatedBy.displayName}}</td>-->
                        <!--<td class="visible-xs-inline-block" data-label="{{'publisherApp.item.validatedDate' | translate}}">{{item.validatedDate | date:'medium'}}</td>-->
                    <td class="hidden" data-label="{{'publisherApp.item.status' | translate}}">{{item.status.label | translate}}</td>
                    <td class="visible-xs visible-sm verylongtext" data-label="{{'publisherApp.item.summary' | translate}}">{{item.summary}}</td>
                    <td class="hidden" data-label="{{'publisherApp.item.body' | translate}}">{{item.body}}</td>
                    <td class="text-center hidden-sm hidden-md" data-label="{{'publisherApp.item.rssAllowed' | translate}}"><input type="checkbox" ng-model="item.rssAllowed" disabled/></td>
                        <td ng-show="$parent.organizations.length > 1" data-label="{{'publisherApp.item.organization' | translate}}">{{item.organization.name}}</td>
                    <td class="hidden" data-label="{{'publisherApp.item.redactor' | translate}}">{{item.redactor.displayName}}</td>
                    <td class="action">
                        <button type="submit" title="{{'entity.action.view' | translate : 'View'}}"
                                ui-sref="details({id:item.id})" class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span>{{"entity.action.view" | translate : "View"}}</span>
                        </button>
                        <button type="submit" can-edit="item.contextKey" title="{{'entity.action.edit' | translate : 'Edit'}}"
                                ui-sref="publish.publisher({id:item.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span>{{"entity.action.edit" | translate : "Edit"}}</span>
                        </button>
                        <button type="submit" can-edit="item.contextKey" title="{{'entity.action.validate' | translate : 'Validate'}}"
                                ng-click="validate(item.id)"
                                class="btn btn-warning btn-sm">
                            <span class="glyphicon glyphicon-ok-circle"></span>&nbsp;<span>{{"entity.action.validate" | translate : "Validate"}}</span>
                        </button>
                        <button type="submit" can-delete="item.contextKey" title="{{'entity.action.delete' | translate : 'Delete'}}"
                                ng-click="delete(item.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>{{"entity.action.delete" | translate : "Delete"}}</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                <li class="active"><a>{{page}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
        <div class="legend">
            <h5 translate="manager.contents.legend.title">Legend :</h5>
                <span class="highlight" translate="manager.contents.legend.highlight" translate-value-name="{{classificationHighlighted.name}}">
                    Elements Highlighted are in highlighted classifications</span>
        </div>
    </div>
</div>
