
<div>
    <h3><span translate="manager.treeview.details.context.properties">Properties</span></h3>
    <button type="button" can-edit="context.contextKey" class="btn btn-primary" ng-click="updateContext()">
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span>{{"entity.action.edit" | translate : "Edit"}}</span>
    </button>
    <button type="button" can-delete="context.contextKey" class="btn btn-danger" data-toggle="modal" data-target="#deleteContextConfirmation">
        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>{{"entity.action.delete" | translate : "Delete"}}</span>
    </button>

    <dl class="dl-horizontal entity-details">
        <dt>
            <span translate="publisherApp.category.name">Name</span>
        </dt>
        <dd>
            <span>{{context.name}}</span>
        </dd>
        <dt>
            <span translate="publisherApp.category.description">Description</span>
        </dt>
        <dd>
            <span>{{context.description}}</span>
        </dd>
        <dt ng-if="context.iconUrl && context.iconUrl != '' && context.iconUrl != 'http://' && inArray('ENCLOSURE',context.publisher.context.reader.classificationDecorations)">
            <span translate="publisherApp.category.iconUrl">IconUrl</span>
        </dt>
        <dd ng-if="context.iconUrl && context.iconUrl != '' && context.iconUrl != 'http://' && inArray('ENCLOSURE',context.publisher.context.reader.classificationDecorations)">
            <img class="media-object" src="{{context.iconUrl}}" alt="image" />
        </dd>
        <dt ng-if="inArray('COLOR',context.publisher.context.reader.classificationDecorations)">
            <span translate="publisherApp.category.color">Color</span>
        </dt>
        <dd ng-if="inArray('COLOR',context.publisher.context.reader.classificationDecorations)">
            <input ng-if="context.color" type="color" value="{{context.color}}" disabled>
            <span ng-if="!context.color">{{ 'publisherApp.category.color.none' | translate : 'Undefined' }}</span>
        </dd>
        <dt has-role="ROLE_ADMIN">
            <span translate="publisherApp.category.accessView">AccessView</span>
        </dt>
        <dd has-role="ROLE_ADMIN">
            <span>{{getAccessTypeLabel(context.accessView) | translate}}</span>
        </dd>
        <dt has-role="ROLE_ADMIN">
            <span translate="publisherApp.category.rssAllowed">RssAllowed</span>
        </dt>
        <dd has-role="ROLE_ADMIN">
            <input type="checkbox" class="input-sm" ng-model="context.rssAllowed" disabled>
        </dd>
        <dt>
            <span translate="publisherApp.category.defaultDisplayOrder">DefaultDisplayOrder</span>
        </dt>
        <dd>
            <span>{{getDisplayOrderTypeLabel(context.defaultDisplayOrder) | translate}}</span>
        </dd>
        <dt has-role="ROLE_ADMIN">
            <span translate="publisherApp.category.displayOrder">DisplayOrder</span>
        </dt>
        <dd has-role="ROLE_ADMIN">
            <span>{{context.displayOrder}}</span>
        </dd>
        <dt has-role="ROLE_ADMIN">
            <span translate="publisherApp.category.lang">Lang</span>
        </dt>
        <dd has-role="ROLE_ADMIN">
            <span>{{getLangLabel(context.lang) | translate }}</span>
        </dd>
        <dt has-role="ROLE_ADMIN">
            <span translate="publisherApp.category.ttl">Ttl</span>
        </dt>
        <dd has-role="ROLE_ADMIN">
            <span>{{context.ttl}}</span>
        </dd>
    </dl>


    <div ng-include="'scripts/app/manager/treeview/ctxDetails/context/category-form.html'"></div>

    <div class="modal fade" id="deleteContextConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDeleteContext(context.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><!--ng-click="clear()"-->
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="publisherApp.category.delete.question" translate-values="{ id: context.name }">Are you sure you want to delete this Category?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ><!--ng-click="clear()"-->
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>
