<div class="modal fade" id="saveCategoryModal" tabindex="-1" role="dialog" aria-labelledby="myCategoryLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="editCategoryForm" role="form" novalidate ng-submit="confirmUpdateContext('CATEGORY')" show-validation>

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><!-- ng-click="clear()"-->
                    <h4 class="modal-title" id="myCategoryLabel" translate="publisherApp.category.home.createOrEditLabel">Create or edit a Category</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group" has-role="ROLE_ADMIN">
                        <label class="control-label" for="ID">ID</label>
                        <input type="text" class="form-control" name="id" id="ID"
                               ng-model="context.id" readonly>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="name" translate="publisherApp.category.name">Name</label>
                        <input type="text" class="form-control" name="name" id="name"
                               ng-model="editedContext.name" required ng-minlength="3" ng-maxlength="200">

                        <div ng-show="editCategoryForm.name.$invalid">
                            <p class="help-block"
                               ng-show="editCategoryForm.name.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                            <p class="help-block"
                               ng-show="editCategoryForm.name.$error.minlength" translate="entity.validation.minlength" translate-value-min="3">
                                This field is required to be at least 3 characters.
                            </p>
                            <p class="help-block"
                               ng-show="editCategoryForm.name.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="200">
                                This field cannot be longer than 200 characters.
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="description" translate="publisherApp.category.description">Description</label>
                        <input type="text" class="form-control" name="description" id="description"
                               ng-model="editedContext.description" required ng-minlength="5" ng-maxlength="512">

                        <div ng-show="editCategoryForm.description.$invalid">
                            <p class="help-block"
                               ng-show="editCategoryForm.description.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                            <p class="help-block"
                               ng-show="editCategoryForm.description.$error.minlength" translate="entity.validation.minlength" translate-value-min="5">
                                This field is required to be at least 5 characters.
                            </p>
                            <p class="help-block"
                               ng-show="editCategoryForm.description.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="512">
                                This field cannot be longer than 512 characters.
                            </p>
                        </div>
                    </div>
                    <div class="form-group" ng-show="inArray('ENCLOSURE',publisher.context.reader.classificationDecorations)">
                        <label class="control-label" for="iconUrl" translate="publisherApp.category.iconUrl">IconUrl</label>
                        <input type="url" class="form-control" name="iconUrl" id="iconUrl" placeholder="http://..."
                               ng-model="editedContext.iconUrl" ng-maxlength="2048">

                        <div ng-show="editCategoryForm.iconUrl.$invalid">
                            <p class="help-block"
                               ng-show="editCategoryForm.iconUrl.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="2048">
                                This field cannot be longer than 2048 characters.
                            </p>
                            <p class="help-block"
                               ng-show="editCategoryForm.iconUrl.$error.url" translate="entity.validation.url">
                                This field must be a valid URL.
                            </p>
                        </div>
                    </div>
                    <div class="form-group" ng-show="inArray('COLOR',publisher.context.reader.classificationDecorations)">
                        <label class="control-label" for="color" translate="publisherApp.category.color">Color</label>
                        <input type="color" class="form-control" name="color" id="color"
                               ng-model="editedContext.color" required>

                        <div ng-show="editCategoryForm.color.$invalid">
                            <p class="help-block"
                               ng-show="editCategoryForm.color.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                    <div class="form-group" has-role="ROLE_ADMIN">
                        <label class="control-label" for="accessView" translate="publisherApp.category.accessView">AccessView</label>
                        <!--<input type="text" class="form-control" name="accessView"
                               ng-model="editedContext.accessView" required>-->
                        <select class="form-control" id="accessView" name="accessView" ng-model="editedContext.accessView"
                                ng-options="accessType.name as accessType.label | translate for accessType in accessTypeList" required>
                        </select>

                        <div ng-show="editCategoryForm.accessView.$invalid">
                            <p class="help-block"
                               ng-show="editCategoryForm.accessView.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                    <div class="form-group" has-role="ROLE_ADMIN">
                        <label class="control-label" for="rssAllowed" translate="publisherApp.category.rssAllowed">RssAllowed</label>
                        <input type="checkbox" class="form-control" name="rssAllowed" id="rssAllowed"
                               ng-model="editedContext.rssAllowed">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="defaultDisplayOrder" translate="publisherApp.category.defaultDisplayOrder">DefaultDisplayOrder</label>
                        <select class="form-control" id="defaultDisplayOrder" name="defaultDisplayOrder" ng-model="editedContext.defaultDisplayOrder"
                                ng-options="displayOrderType.name as displayOrderType.label | translate for displayOrderType in displayOrderTypeList" required>
                        </select>
                        <!-- <input type="text" class="form-control" name="defaultDisplayOrder"
                                ng-model="context.defaultDisplayOrder" required>-->

                        <div ng-show="editCategoryForm.defaultDisplayOrder.$invalid">
                            <p class="help-block"
                               ng-show="editCategoryForm.defaultDisplayOrder.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                    <div class="form-group" has-role="ROLE_ADMIN">
                        <label class="control-label" for="lang" translate="publisherApp.category.lang">Lang</label>
                        <select class="form-control" id="lang" name="lang" ng-model="editedContext.lang" required
                                ng-options="langVal.id as langVal.label | translate for langVal in langList" required>
                        </select>
                        <!--<input type="text" class="form-control" name="lang"
                               ng-model="editedContext.lang" ng-minlength="2" ng-maxlength="5">-->

                        <div ng-show="editCategoryForm.lang.$invalid">
                            <!--<p class="help-block"
                               ng-show="editCategoryForm.lang.$error.minlength" translate="entity.validation.minlength" translate-value-min="2">
                                This field is required to be at least 2 characters.
                            </p>
                            <p class="help-block"
                               ng-show="editCategoryForm.lang.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="5">
                                This field cannot be longer than 5 characters.
                            </p>-->
                            <div ng-show="editCategoryForm.lang.$invalid">
                                <p class="help-block"
                                   ng-show="editCategoryForm.lang.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" has-role="ROLE_ADMIN">
                        <label class="control-label" for="ttl" translate="publisherApp.category.ttl">Ttl</label>
                        <input type="number" class="form-control" name="ttl" id="ttl"
                               ng-model="editedContext.ttl" min="900" max="86400">

                        <div ng-show="editCategoryForm.ttl.$invalid">
                            <p class="help-block"
                               ng-show="editCategoryForm.ttl.$error.min" translate="entity.validation.min" translate-value-min="900">
                                This field should be more than 900.
                            </p>
                            <p class="help-block"
                               ng-show="editCategoryForm.ttl.$error.max" translate="entity.validation.max" translate-value-max="86400">
                                This field cannot be more than 86400.
                            </p>
                            <p class="help-block"
                               ng-show="editCategoryForm.ttl.$error.number" translate="entity.validation.number">
                                This field should be a number.
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="displayOrder" translate="publisherApp.category.displayOrder">DisplayOrder</label>
                        <input type="number" class="form-control" name="displayOrder" id="displayOrder"
                               ng-model="editedContext.displayOrder" required min="0" max="999">

                        <div ng-show="editCategoryForm.displayOrder.$invalid">
                            <p class="help-block"
                               ng-show="editCategoryForm.displayOrder.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                            <p class="help-block"
                               ng-show="editCategoryForm.displayOrder.$error.min" translate="entity.validation.min" translate-value-min="0">
                                This field should be more than 0.
                            </p>
                            <p class="help-block"
                               ng-show="editCategoryForm.displayOrder.$error.max" translate="entity.validation.max" translate-value-max="999">
                                This field cannot be more than 999.
                            </p>
                            <p class="help-block"
                               ng-show="editCategoryForm.displayOrder.$error.number" translate="entity.validation.number">
                                This field should be a number.
                            </p>
                        </div>
                    </div>
                    <div class="form-group" has-role="ROLE_ADMIN">
                        <label class="control-label" for="publisher" translate="publisherApp.category.publisher">publisher</label>
                        <!--<select class="form-control" name="publisher" ng-model="editedContext.publisher.id" ng-options="publisher.id as publisher.id for publisher in publishers">
                        </select>-->
                        <input type="text" class="input-sm form-control" id="publisher" name="publisher"
                               value="{{editedContext.publisher.context.reader.displayName}} - {{editedContext.publisher.context.redactor.displayName}}" readonly>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><!--ng-click="clear()"-->
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" ng-disabled="editCategoryForm.$invalid || !canManage" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
