
<div>
    <h3><!--<span translate="publisherApp.internalFeed.detail.title">InternalFeed</span>--><span translate="manager.treeview.details.context.properties">Properties</span></h3>
    <dl class="dl-horizontal entity-details">
        <dt>
            <span translate="publisherApp.internalFeed.name">Name</span>
        </dt>
        <dd>
            <span>{{context.name}}</span>
        </dd>
        <dt ng-if="context.iconUrl && context.iconUrl != '' && context.iconUrl != 'http://' && inArray('ENCLOSURE',context.publisher.context.reader.classificationDecorations)">
            <span translate="publisherApp.category.iconUrl">IconUrl</span>
        </dt>
        <dd ng-if="context.iconUrl && context.iconUrl != '' && context.iconUrl != 'http://' && inArray('ENCLOSURE',context.publisher.context.reader.classificationDecorations)">
            <img class="media-object" src="{{context.iconUrl}}" alt="image" />
        </dd>
        <dt>
            <span translate="publisherApp.internalFeed.description">Description</span>
        </dt>
        <dd>
            <span>{{context.description}}</span>
        </dd>
        <dt>
            <span translate="publisherApp.internalFeed.lang">Lang</span>
        </dt>
        <dd>
            <span>{{context.lang}}</span>
        </dd>
        <dt>
            <span translate="publisherApp.internalFeed.ttl">Ttl</span>
        </dt>
        <dd>
            <span>{{context.ttl}}</span>
        </dd>
        <dt>
            <span translate="publisherApp.internalFeed.accessView">AccessView</span>
        </dt>
        <dd>
            <span>{{context.accessView}}</span>
        </dd>
        <dt>
            <span translate="publisherApp.internalFeed.defaultDisplayOrder">DefaultDisplayOrder</span>
        </dt>
        <dd>
            <span>{{context.defaultDisplayOrder}}</span>
        </dd>
    </dl>
</div>
