<div>

    <h2 translate="publisherApp.category.home.title">Category</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveCategoryModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="publisherApp.category.home.createLabel">Create a new Category</span>
    </button>
    <div class="modal fade" id="saveCategoryModal" tabindex="-1" role="dialog" aria-labelledby="myCategoryLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myCategoryLabel" translate="publisherApp.category.home.createOrEditLabel">Create or edit a Category</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="category.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="publisherApp.category.rssAllowed">RssAllowed</label>
                            <input type="checkbox" class="form-control" name="rssAllowed"
                                   ng-model="category.rssAllowed">

                        </div>
                        <div class="form-group">
                            <label translate="publisherApp.category.name">Name</label>
                            <input type="text" class="form-control" name="name"
                                   ng-model="category.name" required ng-minlength="3" ng-maxlength="200">

                            <div ng-show="editForm.name.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.name.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.name.$error.minlength" translate="entity.validation.minlength" translate-value-min="3">
                                    This field is required to be at least 3 characters.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="200">
                                    This field cannot be longer than 200 characters.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="publisherApp.category.iconUrl">IconUrl</label>
                            <input type="text" class="form-control" name="iconUrl"
                                   ng-model="category.iconUrl" ng-maxlength="2048">

                            <div ng-show="editForm.iconUrl.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.iconUrl.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="2048">
                                    This field cannot be longer than 2048 characters.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="publisherApp.category.lang">Lang</label>
                            <input type="text" class="form-control" name="lang"
                                   ng-model="category.lang" ng-minlength="2" ng-maxlength="5">

                            <div ng-show="editForm.lang.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.lang.$error.minlength" translate="entity.validation.minlength" translate-value-min="2">
                                    This field is required to be at least 2 characters.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.lang.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="5">
                                    This field cannot be longer than 5 characters.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="publisherApp.category.ttl">Ttl</label>
                            <input type="number" class="form-control" name="ttl"
                                   ng-model="category.ttl" min="900" max="86400">

                            <div ng-show="editForm.ttl.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.ttl.$error.min" translate="entity.validation.min" translate-value-min="900">
                                    This field should be more than 900.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.ttl.$error.max" translate="entity.validation.max" translate-value-max="86400">
                                    This field cannot be more than 86400.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.ttl.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="publisherApp.category.displayOrder">DisplayOrder</label>
                            <input type="number" class="form-control" name="displayOrder"
                                   ng-model="category.displayOrder" required min="0" max="999">

                            <div ng-show="editForm.displayOrder.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.displayOrder.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.displayOrder.$error.min" translate="entity.validation.min" translate-value-min="0">
                                    This field should be more than 0.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.displayOrder.$error.max" translate="entity.validation.max" translate-value-max="999">
                                    This field cannot be more than 999.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.displayOrder.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="publisherApp.category.accessView">AccessView</label>
                            <input type="text" class="form-control" name="accessView"
                                   ng-model="category.accessView" required>

                            <div ng-show="editForm.accessView.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.accessView.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="publisherApp.category.description">Description</label>
                            <input type="text" class="form-control" name="description"
                                   ng-model="category.description" required ng-minlength="5" ng-maxlength="512">

                            <div ng-show="editForm.description.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.description.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.description.$error.minlength" translate="entity.validation.minlength" translate-value-min="5">
                                    This field is required to be at least 5 characters.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.description.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="512">
                                    This field cannot be longer than 512 characters.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="publisherApp.category.defaultDisplayOrder">DefaultDisplayOrder</label>
                            <input type="text" class="form-control" name="defaultDisplayOrder"
                                   ng-model="category.defaultDisplayOrder" required>

                            <div ng-show="editForm.defaultDisplayOrder.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.defaultDisplayOrder.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label translate="publisherApp.category.publisher">publisher</label>
                            <select class="form-control" name="publisher" ng-model="category.publisher.id" ng-options="publisher.id as publisher.id for publisher in publishers">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteCategoryConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(category.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="publisherApp.category.delete.question" translate-values="{id: '{{category.id}}'}">Are you sure you want to delete this Category?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="publisherApp.category.rssAllowed">RssAllowed</th>
                    <th translate="publisherApp.category.name">Name</th>
                    <th translate="publisherApp.category.iconUrl">IconUrl</th>
                    <th translate="publisherApp.category.lang">Lang</th>
                    <th translate="publisherApp.category.ttl">Ttl</th>
                    <th translate="publisherApp.category.displayOrder">DisplayOrder</th>
                    <th translate="publisherApp.category.accessView">AccessView</th>
                    <th translate="publisherApp.category.description">Description</th>
                    <th translate="publisherApp.category.defaultDisplayOrder">DefaultDisplayOrder</th>
                    <th translate="publisherApp.category.createdBy">CreatedBy</th>
                    <th translate="publisherApp.category.createdDate">CreatedDate</th>
                    <th translate="publisherApp.category.lastModifiedBy">LastModifiedBy</th>
                    <th translate="publisherApp.category.lastModifiedDate">LastModifiedDate</th>
                    <th translate="publisherApp.category.publisher">publisher</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="category in categorys">
                    <td><a ui-sref="categoryDetail({id:category.id})">{{category.id}}</a></td>
                    <td>{{category.rssAllowed}}</td>
                    <td>{{category.name}}</td>
                    <td>{{category.iconUrl}}</td>
                    <td>{{category.lang}}</td>
                    <td>{{category.ttl}}</td>
                    <td>{{category.displayOrder}}</td>
                    <td>{{category.accessView}}</td>
                    <td>{{category.description}}</td>
                    <td>{{category.defaultDisplayOrder}}</td>
                    <td>{{category.createdBy}}</td>
                    <td>{{category.createdDate}}</td>
                    <td>{{category.lastModifiedBy}}</td>
                    <td>{{category.lastModifiedDate}}</td>
                    <td>{{category.publisher.id}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="categoryDetail({id:category.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span>{{"entity.action.view" | translate : "View"}}</span>
                        </button>
                        <button type="submit"
                                ng-click="update(category.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span>{{"entity.action.edit" | translate : "Edit"}}</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(category.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>{{"entity.action.delete" | translate : "Delete"}}</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
