body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    background-color: #f3f3f3;
    color: #000;
    margin:0;
}

footer, .footer {
    padding: 0 15px;
}

small, .small {
    font-size: 78%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: 'Roboto Slab', sans-serif;
}

pre { margin-bottom:15px; }

a:hover,
a:focus,
a:link {
    text-decoration: none;
    outline: none;
}

body a {
    color: #000;
}
/* Default color */
a:hover,
a:hover > div{
    color: #25B2F3;
}
/* Specific color */
.clg37 a:hover,
.clg37 a:hover > div{
    color: #C60440;
}

/** ITEM VIEW **/
article {
    background-color: #fff;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    min-height: 260px;
}
body {
    min-width: 280px;
}
article > header > div > h1,
article > header > div > img,
article > header > div > p,
article > header > div > div {
    padding: 0 2rem;
}
article > section {
    padding: 0 2rem;
}
article header {
    /*overflow: hidden;*/
    padding-top: 2rem;
    padding-bottom: 2rem;
}
article header .title h1 {
    background-color: #f3f3f3 ;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.hyphenate {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}
article header .image {
    max-width: 240px;
    float: left;
}
article header .image img {
    display: block;
    width: 100%;
    margin-bottom: 2px;
}
article header .title,
article header .details {
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

@media screen and (max-width: 540px)  {
    article header {
        display: flex;
        flex-direction: column;
    }

    article header .title {
        text-align: center;
        order: 1;
    }
    article header .image {
        order:2;
    }
    article header .details {
        order : 3;
    }
}
.Flash article header {
    display: flex;
    flex-direction: column;
}
.Flash article header .title {
    text-align: center;
    order: 1;
}
.Flash article header .image {
    display: block;
    float: none;
    max-width: none;
    order: 2;
}
.Flash article header .image img   {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width : initial;
}
.Flash article header .details {
    order : 3;
}

article .details {
    background: #f3f3f3;
    border: 1px dashed #D0D0D0;
    font-size: 1em;
    margin: 0;
}

article .details .summary {
    display: block;
}
article .details .summary span {
    cursor: pointer;
}
article .details .pubInfo {
    display: none;
}
article .details .pubInfo > p {
    margin: 0;
}
article .details .pubInfo > p > .label {
    color: #808080;
}
article .details .pubInfo > p > span:not(.label)::after {
    content: ", "
}
footer {
    text-align: right;
    padding: 0 1rem;
}
