<div class="publish-form-container" ng-cloak>

    <div class="publish-header">
        <h2 translate="manager.publish.title">Publishing a content</h2>

        <!-- the links to our nested states using relative paths -->
        <!-- add the active class if the state matches our ui-sref -->
        <div class="status-buttons" ng-switch="publishingType()">
            <div class="publish-form-views-steps" ng-switch-when="NONE">
                <a ui-sref-active="active" ui-sref=".publisher"><span class="step-number">1</span><span class="step-label"> {{'manager.publish.publisher.step' | translate}}</span></a>
            </div>
            <div class="publish-form-views-steps" ng-switch-when="STATIC">
                <a ui-sref-active="active" ui-sref=".publisher"><span class="step-number">1</span><span class="step-label"> {{'manager.publish.publisher.step' | translate}}</span></a>
                <!-- Flash has an auto associated classification, but we may check if  FLASH is in $scope.$parent.publisher.context.reader.authorizedTypes -->
                <!--<a ui-sref-active="active" ui-sref=".classification" disable-click="!isPublisherSelected()"><span class="step-number">2</span> {{'manager.publish.classification.step' | translate}}</a>-->
                <a ui-sref-active="active" ui-sref=".content" disable-click="!isItemValidated()"><span class="step-number">2</span><span class="step-label"> {{'manager.publish.content.step' | translate}}</span></a>
            </div>
            <div class="publish-form-views-steps" ng-switch-default>
                <a ui-sref-active="active" ui-sref=".publisher"><span class="step-number">1</span><span class="step-label"> {{'manager.publish.publisher.step' | translate}}</span></a>
                <a ui-sref-active="active" ui-sref=".classification" disable-click="!isPublisherSelected()"><span class="step-number">2</span><span class="step-label"> {{'manager.publish.classification.step' | translate}}</span></a>
                <a ui-sref-active="active" ui-sref=".content" disable-click="!isItemValidated()"><span class="step-number">3</span><span class="step-label"> {{'manager.publish.content.step' | translate}}</span></a>
                <a ui-sref-active="active" ui-sref=".targets" disable-click="isClassificationsSelected()"><span class="step-number">4</span><span class="step-label"> {{'manager.publish.targets.step' | translate}}</span></a>
            </div>
        </div>
    </div>

    <!-- our nested state views will be injected here -->
    <div class="publish-body" id="publish-form-views" ui-view></div>


    <div class="publish-footer text-right" ng-show="canSave()">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary" ng-click="publishItem('DRAFT')">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="publisherApp.item.action.save">Save</span>
            </button>
            <button type="button" class="btn btn-primary" ng-if="canSubmit()" ng-click="publishItem('PUBLISH')">
                <span class="glyphicon glyphicon-send"></span>&nbsp;<span translate>publisherApp.item.action.publish</span>
            </button>
        </div>
    </div>

    <!-- show our formData as it is being typed -->
    <!--<pre>-->
    <!--{{ publisher.id }}-->
    <!--{{ publishContentForm | json }}-->
    <!--{{ content.type == ''  }}-->
    <!--{{ publisher.context.redactor.writingMode }}-->
    <!--&lt;!&ndash;{{ item | json }}&ndash;&gt;-->
    <!--{{ publishContentForm.$error |json }}-->
    <!--{{ publishContentForm.$invalid | json }}-->
    <!--{{ publishContentForm.$valid | json }}-->
    <!--{{ classifications |json }}-->
    <!--{{ targets |json }}-->
    <!--</pre>-->


</div>
