<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head lang="fr" th:replace="fragments/head :: head">
</head>
<body>
<div class="publisher-view" th:classappend="${item.getClass().getSimpleName()}">
    <article>
        <header>
            <div th:if="${item.enclosure != null}" class="image">
                <img class="img-responsive" th:src="${item.enclosure}" th:alt-title="${item.title}" />
            </div>
            <div class="title">
                <h1 class="hyphenate" th:text="${item.title}"></h1>
                <p th:if="${item.getClass().getSimpleName() != 'Flash'}"><span th:text="#{item.author}">Author</span>: <span th:text="${item.createdBy.displayName}"></span>, <span
                    th:text="#{item.pubDate}">published </span> <time pubdate="pubdate" th:datetime="${item.startDate}"
                                                                      th:text="${#temporals.format(item.startDate, 'dd MMMM yyyy')}"/></p>
            </div>
            <div class="details" onclick="showInfo()">
                <div class="summary">
                    <span th:if="${item.getClass().getSimpleName() != 'Flash'}" class="caret-right"></span>
                    <span th:utext="${item.summary}"></span>
                </div>
                <div th:if="${item.getClass().getSimpleName() != 'Flash'}" class="pubInfo">
                    <p><span class="label" th:text="#{item.createdBy}">Created by</span><span th:text="${item.createdBy.displayName}"></span><span
                        class="label" th:text="#{item.when}">on</span><time th:datetime="${item.createdDate}" th:text="${#temporals.format(item.createdDate, 'dd-MM-yyyy HH:mm:ss')}"></time>
                    </p><p th:if="${item.lastModifiedDate != null}">
                    <span class="label" th:text="#{item.lastModifiedBy}">Last modification by</span><span th:text="${item.lastModifiedBy.displayName}"></span><span
                    class="label" th:text="#{item.when}">on</span><time th:datetime="${item.lastModifiedDate}" th:text="${#temporals.format(item.lastModifiedDate, 'dd-MM-yyyy HH:mm:ss')}"></time>
                </p><p th:if="${item.validatedBy != null}">
                    <span class="label" th:text="#{item.validatedBy}">Validated by</span><span th:text="${item.validatedBy.displayName}"></span><span
                    class="label" th:text="#{item.when}">on</span><time th:datetime="${item.validatedDate}" th:text="${#temporals.format(item.validatedDate, 'dd-MM-yyyy HH:mm:ss')}"></time>
                </p>
                </div>
            </div>
        </header>
        <section class="body ck-content" th:if="${item.getClass().getSimpleName() != 'Media' and item.getClass().getSimpleName() != 'Attachment'}" th:utext="${item.body}"></section>
        <section class="attachments" th:if="${not #lists.isEmpty(attachments)}">
            <div th:each="attachment: ${attachments}">
                <a th:href="@{'/' + ${attachment.uri}}"><span th:text="${attachment.filename}"/></a></div>
        </section>
    </article>
    <footer th:replace="fragments/footer">
    </footer>
</div>
<script th:inline="text">
    /*<![CDATA[*/
    var LANG = '[[${#locale.language}]]';
    function hasClassName(elm, name) {
        return new RegExp("(?:^|\\s+)" + name + "(?:\\s+|$)").test(elm.className);
    }
    function addClassName(elm, name) {
        if (!hasClassName(elm,name)) {
            elm.className = elm.className ? [elm.className, name].join(' ') : name;
        }
    }
    function removeClassName(elm, name) {
        if (hasClassName(elm,name)) {
            var c = elm.className;
            elm.className = c.replace(new RegExp("(?:^|\\s+)" + name + "(?:\\s+|$)", "g"), "");
        }
    }
    function showInfo() {
        var elm = document.querySelector(".publisher-view:not(.Flash) > article > header > .details > .summary > span:first-child");
        var classOpened = "caret-bottom";
        var classClosed = "caret-right";
        if (elm) {
            if (hasClassName(elm, classOpened)) {
                removeClassName(elm, classOpened);
                addClassName(elm, classClosed);
                document.querySelector(".publisher-view > article > header > .details > .pubInfo").style.display = 'none';
            } else {
                removeClassName(elm, classClosed);
                addClassName(elm, classOpened);
                document.querySelector(".publisher-view > article > header > .details > .pubInfo").style.display = 'block';
            }
        }
    }

    function replaceVideo() {
        [].forEach.call(
            document.body.querySelectorAll(".publisher-view > article > .body img[ta-insert-video]"),
            function(el){
                var iframe = document.createElement('iframe');
                var attributes = el.attributes;
                // loop through element attributes and apply them on iframe
                for (var i = attributes.length - 1; i >= 0; i--) {
                    iframe.setAttribute(attributes[i].name, attributes[i].value);
                }
                iframe.setAttribute('src', iframe.getAttribute('ta-insert-video'));
                el.parentNode.replaceChild(iframe, el);
            }
        );
    }

    window.onload = function () {
        replaceVideo();
    };
    // used when this content is loaded from a modal because the window.onload isn't fired.
    window.setTimeout(replaceVideo(), 3000);
    /*]]>*/
</script>
</body>
</html>
