<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head lang="fr" th:replace="fragments/head :: head">
</head>
<body>
<div class="publisher-view" th:classappend="${item.getClass().getSimpleName()}">
    <article>
        <header>
            <div th:if="${item.enclosure} != null" class="image">
                <img class="img-responsive" th:src="${item.enclosure}" th:alt-title="${item.title}" />
            </div>
            <div class="title">
                <h1 class="hyphenate" th:text="${item.title}"></h1>
                <p><span>Auteur</span>: <span th:text="${item.createdBy.displayName}"></span>, <span>publié le</span>
                    <time pubdate="pubdate" th:datetime="${item.startDate}" th:text="${#dates.format(item.startDate, 'dd MMMM yyyy')}"/></p>
            </div>
            <div class="details" onclick="showInfo()">
                <div class="summary">
                    <span class="caret-right"></span>
                    <span th:text="${item.summary}"></span>
                </div>
                <div class="pubInfo">
                    <p><span class="label" translate="publisherApp.item.createdBy">Créé par</span><span th:text="${item.createdBy.displayName}"></span><span
                        class="label" translate="publisherApp.item.when">le</span><time th:datetime="${item.createdDate}" th:text="${#dates.format(item.createdDate)}"></time>
                    </p><p th:if="${item.lastModifiedDate} != null">
                    <span class="label" translate="publisherApp.item.lastModifiedBy">Dernière Modification par</span><span th:text="${item.lastModifiedBy.displayName}"></span><span
                    class="label" translate="publisherApp.item.when">le</span><time th:datetime="${item.lastModifiedDate}" th:text="${#dates.format(item.lastModifiedDate)}"></time>
                </p><p th:if="${item.validatedBy} != null">
                    <span class="label" translate="publisherApp.item.validatedBy">Validé par</span><span th:text="${item.validatedBy.displayName}"></span><span
                    class="label" translate="publisherApp.item.when">le</span><time th:datetime="${item.validatedDate}" th:text="${#dates.format(item.validatedDate)}"></time>
                </p>
                </div>
            </div>
        </header>
        <section th:utext="${item.body}"></section>
    </article>
    <footer th:replace="fragments/footer">
    </footer>
</div>
<script th:inline="text">
    /*<![CDATA[*/
    var LANG = '[[${#locale.language}]]';
    function hasClassName(elm, name) {
        return new RegExp("(?:^|\\s+)" + name + "(?:\\s+|$)").test(elm.className);
    }
    function addClassName(elm, name) {
        if (!hasClassName(elm,name)) {
            elm.className = elm.className ? [elm.className, name].join(' ') : name;
        }
    }
    function removeClassName(elm, name) {
        if (hasClassName(elm,name)) {
            var c = elm.className;
            elm.className = c.replace(new RegExp("(?:^|\\s+)" + name + "(?:\\s+|$)", "g"), "");
        }
    }
    function showInfo() {
        var elm = document.querySelector(".publisher-view > article > header > .details > .summary > span:first-child");
        var classOpened = "caret-bottom";
        var classClosed = "caret-right";
        if (hasClassName(elm, classOpened)) {
            removeClassName(elm, classOpened);
            addClassName(elm, classClosed);
            document.querySelector(".publisher-view > article > header > .details > .pubInfo").style.display='none';
        } else {
            removeClassName(elm,classClosed);
            addClassName(elm,classOpened);
            document.querySelector(".publisher-view > article > header > .details > .pubInfo").style.display='block';
        }
    }
    /*]]>*/
</script>
</body>
</html>
