.color-palette-picker {
    text-align: center;
}
.color-palette-picker .modal-dialog {
    background-color: #fff;
    padding: 7px 10px 3px;
    max-width: 350px;
    width: 75%;
}

@media screen and (max-width: 476px) {
    .color-palette-picker .modal-dialog {
        max-width: none;
        width: 100%;
    }
}

.color-palette-picker .color-palette div.transparent-color {
    border-color: rgb(224,224,224);
}

.color-palette-picker .selected-color,
.color-palette-picker .color-palette div {
    box-sizing: border-box;
    border-radius: 50%;
    height: 52px;
    width: 52px;
    opacity: 1;
    cursor: pointer;
    display: inline-block;
    border: 2px solid transparent;
    outline: none!important;
}
.color-palette-picker .color-palette div {
    margin: 10px;
}

.color-palette-picker .selected-color,
.color-palette-picker .color-palette div:hover {
    border-color: rgba(0,0,0,0.4);
}

.color-palette-picker .color-palette div.palette-selected-color {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjE4cHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbD0iIzAwMDAwMCIgb3BhY2l0eT0iMC41NCIgdmlld0JveD0iMCAwIDE4IDE4IiBoZWlnaHQ9IjE4cHgiPgogIDxwYXRoIGQ9Im0wIDBoMTh2MThoLTE4eiIgZmlsbD0ibm9uZSIvPgogIDxwYXRoIGQ9Im02LjYxIDExLjg5bC0zLjExLTMuMTEtMS4wNiAxLjA2IDQuMTcgNC4xNiA4Ljk1LTguOTUtMS4wNi0xLjA1eiIvPgo8L3N2Zz4K);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: 26px 26px;
    background-size: 26px 26px;
}
