<div>
    <div class="flashForm">
        <div class="form-group hidden">
            <label class="control-label" for="ID">ID</label>
            <input type="text" class="form-control" name="id" id="ID"
                   ng-model="item.id" readonly>
        </div>

        <div class="form-group" ng-class="{ 'has-error': publishContentForm.title.$invalid && publishContentForm.title.$dirty }">
            <label class="control-label" for="title" translate="publisherApp.flash.title">Title</label>
            <input type="text" class="form-control" name="title" id="title"
                   ng-model="item.title" required ng-minlength="3" ng-maxlength="200">

            <div ng-show="publishContentForm.title.$invalid">
                <p class="help-block"
                   ng-show="publishContentForm.title.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="publishContentForm.title.$error.minlength" translate="entity.validation.minlength" translate-value-min="3">
                    This field is required to be at least 3 characters.
                </p>
                <p class="help-block"
                   ng-show="publishContentForm.title.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="200">
                    This field cannot be longer than 200 characters.
                </p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': !item.enclosure && enclosureDirty }">
            <label class="control-label" for="enclosure" translate="publisherApp.flash.enclosure">Enclosure</label>
            <div class="form-inline">
                <!--<input ng-if="!item.enclosure" type="image" data-toggle="modal" data-target="#cropImageModale" ng-click="clearUpload()" value="{{'publisherApp.flash.enclosure.button' | translate}}">-->
                <button ng-if="!item.enclosure" class="btn btn-file" data-toggle="modal" data-target="#cropImageModale" ng-click="clearUpload()">
                    <span>{{'publisherApp.flash.enclosure.button' | translate}}</span>
                </button>

                <img ng-if="item.enclosure" name="enclosure" id="enclosure" ng-src="{{item.enclosure}}" />
                <a ng-if="item.enclosure" href="#" data-toggle="modal" data-target="#deleteEnclosureConfirmation" uib-tooltip-placement="top" uib-tooltip="{{ 'entity.action.delete' | translate }}">
                    <i class="glyphicon glyphicon-remove-circle text-danger"></i>
                </a>
            </div>
            <div ng-show="!item.enclosure">
                <p class="help-block" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': publishContentForm.summary.$invalid && publishContentForm.summary.$dirty }">
            <label class="control-label" for="summary" translate="publisherApp.flash.summary">Summary</label>
            <textarea class="form-control" name="summary" id="summary" rows="3"
                      ng-model="item.summary" required ng-minlength="5" ng-maxlength="512" />

            <div ng-show="publishContentForm.summary.$invalid">
                <p class="help-block"
                   ng-show="publishContentForm.summary.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="publishContentForm.summary.$error.minlength" translate="entity.validation.minlength" translate-value-min="5">
                    This field is required to be at least 5 characters.
                </p>
                <p class="help-block"
                   ng-show="publishContentForm.summary.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="512">
                    This field cannot be longer than 512 characters.
                </p>
            </div>
        </div>
        <div class="form-inline">
            <div class="form-group" ng-class="{ 'has-error': publishContentForm.startDate.$invalid && publishContentForm.startDate.$dirty }">
                <label class="control-label" for="startDate" translate="publisherApp.flash.startDate">StartDate</label>
                <input type="date" class="form-control" name="startDate" id="startDate" placeholder="jj/mm/aaaa" min={{startdate}} ng-model="item.startDate"
                       alt-datepicker required date-lower-than="{{item.endDate | date: 'yyyy-MM-dd' }}">

                <div ng-show="publishContentForm.startDate.$invalid">
                    <p class="help-block"
                       ng-show="publishContentForm.startDate.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                    <p class="help-block" ng-show="publishContentForm.startDate.$error.date" translate="entity.validation.date">
                        This field is not a valid date.
                    </p>
                    <p class="help-block" ng-show="publishContentForm.startDate.$error.min" translate="entity.validation.mindate" translate-value-min="{{startdate | date: dtformat }}">
                        A date after now is required.
                    </p>
                    <p class="help-block" ng-show="publishContentForm.startDate.$error.max" translate="entity.validation.maxdate" translate-value-max="{{item.endDate | date: dtformat }}">
                        A date before next year from now is required
                    </p>
                    <p class="help-block"
                       ng-show="publishContentForm.startDate.$error.dateLowerThan" translate="entity.validation.dateLowerThan"
                       translate-value-field="{{'publisherApp.flash.startDate' | translate}}">>
                        From date must be lower than To date
                    </p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': publishContentForm.endDate.$invalid && publishContentForm.endDate.$dirty }">
                <label class="control-label" for="endDate" translate="publisherApp.flash.endDate">EndDate</label>
                <input type="date" class="form-control" name="endDate" id="endDate" placeholder="jj/mm/aaaa" min-date="{{today | date: dtformat}}" max={{nextyear}} ng-model="item.endDate"
                       alt-datepicker required date-greater-than="{{item.startDate | date: 'yyyy-MM-dd' }}">

                <div ng-show="publishContentForm.endDate.$invalid">
                    <p class="help-block"
                       ng-show="publishContentForm.endDate.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                    <p class="help-block" ng-show="publishContentForm.endDate.$error.date" translate="entity.validation.date">
                        This field is not a valid date.
                    </p>
                    <!--<p class="help-block" ng-show="publishContentForm.endDate.$error.min" translate="entity.validation.mindate" translate-value-min="{{today | date: dtformat }}">
                        A date after now is required.
                    </p>-->
                    <p class="help-block" ng-show="publishContentForm.endDate.$error.max" translate="entity.validation.maxdate" translate-value-max="{{nextyear | date: dtformat }}">
                        A date before next year from now is required
                    </p>
                    <p class="help-block"
                       ng-show="publishContentForm.endDate.$error.dateGreaterThan" translate="entity.validation.dateGreaterThan"
                       translate-value-field="{{'publisherApp.flash.startDate' | translate}}">>
                        From date must be greater than From date
                    </p>
                </div>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': publishContentForm.body.$invalid && publishContentForm.body.$dirty }">
            <label class="control-label" for="body" translate="publisherApp.flash.body">Body</label>
            <text-angular name="body" id="body"
                          ng-model="item.body" required ng-minlength="15"></text-angular>
            <!--<input type="text" class="form-control" name="body" id="body"-->
            <!--ng-model="item.body" required ng-minlength="5">-->

            <div ng-show="publishContentForm.body.$invalid">
                <p class="help-block"
                   ng-show="publishContentForm.body.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="publishContentForm.body.$error.minlength" translate="entity.validation.minlength" translate-value-min="15">
                    This field is required to be at least 15 characters.
                </p>
            </div>
        </div>
        <!--
        <div class="form-group">
            <label translate="publisherApp.flash.organization">organization</label>
            <select class="form-control" name="organization" ng-model="item.organization.id" ng-options="organization.id as organization.name for organization in organizations" required>
            </select>
        </div>
        <div class="form-group">
            <label translate="publisherApp.flash.redactor">redactor</label>
            <select class="form-control" name="redactor" ng-model="item.redactor.id" ng-options="redactor.id as redactor.displayName for redactor in redactors" required>
            </select>
        </div>
        -->
    </div>
    <div class="modal fade modal-full-screen" id="cropImageModale" tabindex="-1" role="dialog" aria-labelledby="myCropImageModale"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" translate="publisherApp.flash.inputfile.title">Selection of a picture</h3>
                </div>
                <div class="modal-body">
                    <form name="publishContentEnclosureForm" role="form" novalidate class="panel-group">
                        <!--<div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 translate="publisherApp.flash.inputfile.url.label">Enter a picture URL</h3></div>
                            <div class="panel-body form-inline">
                                <div class="form-group">
                                    <input type="url" class="form-control" name="enclosure" placeholder="https://..."
                                           ng-model="content.picUrl" ng-maxlength="2048">
                                    <div ng-show="publishContentForm.enclosure.$invalid">
                                        <p class="help-block"
                                           ng-show="publishContentForm.enclosure.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="2048">
                                            This field cannot be longer than 2048 characters.
                                        </p>
                                        <p class="help-block"
                                           ng-show="publishContentForm.enclosure.$error.url" translate="entity.validation.url">
                                            This field must be a valid URL.
                                        </p>
                                    </div>
                                    <button type="button" ng-disabled="publishContentForm.enclosure.$invalid || !content.picUrl" class="btn btn-primary"
                                            ng-click="validatePicUrl(content.picUrl)">
                                        <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate>entity.action.validate</span>
                                    </button>
                                </div>
                            </div>
                        </div>-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3>{{'publisherApp.flash.inputfile.crop.step'+crop.imageCropStep | translate}}</h3>
                            </div>
                            <div class="panel-body">

                                <div class="">
                                    <div class="well">

                                        <div ng-show="crop.imageCropStep == 1">
                                            <br/>
                                            <!--<input type="file" name="fileInput" id="fileInput" onchange="angular.element(this).scope().fileCropChanged(event)" />-->
                                            <input type="file" ngf-select ng-model="content.file"
                                                    ngf-change="changeCropFile($file, $newFiles, $invalidFiles, $event)"
                                                    ngf-pattern="'image/*'"
                                                    ngf-accept="'image/*'" ngf-max-size="10MB">
                                        </div>

                                        <div ng-show="crop.imageCropStep == 2">

                                            <image-crop
                                                data-height="240"
                                                data-width="800"
                                                data-shape="square"
                                                data-step="crop.imageCropStep"
                                                src="content.picFile"
                                                data-result="crop.result"
                                                data-result-blob="crop.resultBlob"
                                                crop="crop.initCrop"
                                                data-result-format="image/jpeg"
                                                ></image-crop>
                                        </div>

                                        <div ng-show="crop.imageCropStep == 2">
                                            <br/>
                                            <button ng-click="clearCrop()" class="btn btn-default"><span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.reset">Reset</span></button>
                                            <button ng-click="crop.initCrop = true" class="btn btn-default"><span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.validate">Validate</span></button></button>
                                        </div>

                                        <div ng-show="crop.imageCropStep == 3">
                                            <img ng-src="{{crop.result}}" >
                                            <br/>
                                            <button ng-click="clearCrop()" class="btn btn-default"><span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.reset">Reset</span></button>

                                        </div>

                                    </div>

                                </div>

                                    <span class="progress" ng-show="progress > 0">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" ng-style="{'width': progress+'%'}">
                                            <span>{{progress}}%</span>
                                        </div>
                                    </span>
                                <span class="error-message top-toolbar" ng-show="errorMsg">{{errorMsg | translate}}</span>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button ng-click="uploadCroppedFile(crop.result, content.file)" class="btn btn-primary" ng-disabled="!crop.result">
                        <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span></button>
                    <button type="button"  class="btn btn-default" title="Clear selected files" ng-click="clearCrop()">
                        <span class="glyphicon glyphicon-trash"></span>&nbsp;<span translate="entity.action.delete">Remove</span>
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
