<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle other-style h1" data-toggle="collapse" data-target="#navbar-collapse">-->
            <button type="button" class="navbar-toggle other-style h1" ng-click="collapse()">
                <div ng-if="$state.includes('owned') ||  $state.includes('managed')">
                    <span class="fa fa-file-text fa-2x"></span>
                    <span>{{ "global.menu.manager.contents.main" | translate }}</span>
                    <b class="caret"></b>
                </div>
                <div ng-if="$state.includes('pending')">
                    <span class="fa fa-gavel fa-2x"></span>
                    <span>{{ "global.menu.manager.contents.moderate" | translate }}</span>
                    <b class="caret"></b>
                </div>
                <div ng-if="$state.includes('treeview')">
                    <span class="fa fa-gavel fa-2x"></span>
                    <span>{{ "global.menu.manager.contexts.main" | translate }}</span>
                    <b class="caret"></b>
                </div>
            </button>
        </div>
        <div class="collapse navbar-collapse" ng-class="{'in': !isCollapsed}" id="navbar-collapse">
            <ul class="nav navbar-nav nav-pills">
                <li ui-sref-active="active">
                    <a ng-click="isCollapsed=true" ui-sref="home">
                        <span class="fa fa-home fa-2x"></span>
                        <span translate="global.menu.home">Home</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ng-click="isCollapsed=true" ui-sref="publish.publisher">
                        <span class="fa fa-pencil fa-2x"></span>
                        <span translate="global.menu.write">Publish</span>
                    </a>
                </li>
                <li ng-if="!canModerate" ui-sref-active="active">
                    <a ng-click="isCollapsed=true" ui-sref="owned">
                        <span class="fa fa-file-text fa-2x"></span>
                        <span>{{ "global.menu.manager.contents.main" | translate }}</span>
                    </a>
                </li>
                <li ng-if="canModerate"  ng-class="{active: $state.includes('owned') ||  $state.includes('managed')}" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <span>
                            <span class="fa fa-file-text fa-2x"></span>
                            <span>{{ "global.menu.manager.contents.main" | translate }}</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ng-click="isCollapsed=true" ui-sref="owned"><span class="fa fa-asterisk"></span>
                            &#xA0;<span>{{ "global.menu.manager.contents.owned" | translate }}</span></a></li>
                        <li ui-sref-active="active"><a ng-click="isCollapsed=true" ui-sref="managed"><span class="fa fa-asterisk"></span>
                            &#xA0;<span>{{ "global.menu.manager.contents.managed" | translate }}</span></a></li>
                    </ul>
                </li>
                <li ng-if="canModerate" ui-sref-active="active">
                    <a ng-click="isCollapsed=true" ui-sref="pending">
                        <span class="fa fa-gavel fa-2x"></span>
                        <span>{{ "global.menu.manager.contents.moderate" | translate }}</span>
                    </a>
                </li>

                <li ui-sref-active="active" can-moderate>
                    <a ng-click="isCollapsed=true" ui-sref="treeview">
                        <span class="fa fa-wrench fa-2x"></span>
                        <span translate="global.menu.manager.contexts.main">Contexts</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
