<div ng-show="showCats" class="publish-classification">

    <h3 translate="manager.publish.classification.title">Classification</h3>

    <!--<div ng-hide="classificationsList.length < 1"
         isteven-multi-select
         input-model="classificationsList"
         output-model="selectedClassifications"
         button-label="name"
         item-label="icon name description"
         tick-property="ticked"
         helper-elements="all none filter"
         output-properties="contextKey"
         translation="localLang"
         min-search-length="1"
         max-height="100px"
         on-item-click="validateClassifications()" <img ng-if="classif.icon" ng-src="{{classif.icon}}"/>
        >
    </div>-->
    <div class="classification-form">
        <div ng-show="classificationsList.length > 0" class="form-group">
            <label class="control-label" translate="manager.publish.classification.choice">Make a choice</label>
            <div class="inline-form">
                <div ng-repeat="classif in classificationsList" class="checkbox-inline">
                    <input ng-attr-id="{{classif.name}}" type="checkbox" value="{{classif.name}}" ng-checked="containsSelectedClassification(classif.contextKey)"
                           ng-click="toggleSelection(classif.contextKey)" ng-class="{iconurl : inArray('ENCLOSURE',publisher.context.reader.classificationDecorations)}">
                    <label ng-attr-for="{{classif.name}}" uib-tooltip-placement="top" uib-tooltip="{{ classif.description }}">
                        <!--ng-style="inArray('COLOR', publisher.context.reader.classificationDecorations) && {'background-color': classif.color}">
                     <img ng-if="classif.icon" ng-src="{{ classif.icon }}"/>-->
                        <span class="iconurl" ng-style='{"background-image": inArray("ENCLOSURE",publisher.context.reader.classificationDecorations)?"url("+classif.icon+")":null}'
                            ng-show="inArray('ENCLOSURE',publisher.context.reader.classificationDecorations)"></span>
                        <span class="pastille" ng-style='{"background-color": inArray("COLOR", publisher.context.reader.classificationDecorations)?classif.color:null}'
                            ng-show='inArray("COLOR", publisher.context.reader.classificationDecorations)'></span>
                        <span clas="text">{{classif.name}}</span>
                    </label>
                </div>
            </div>
        </div>
        <div ng-show="classificationsList.length < 1" class="alert alert-danger"><span>{{ 'manager.publish.classification.emptyList' | translate }}</span></div>
    </div>

    <div class="text-center">
        <div class="btn-group" role="group">
            <button type="button" ui-sref="publish.publisher" class="btn btn-default btn-nav">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
            </button>
            <button type="button" ui-sref="home" class="btn btn-default btn-nav">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="button" ui-sref="publish.content" ng-disabled="classifications.length < 1" class="btn btn-default btn-nav" ng-click="validateClassifications()">
                <span translate="manager.publish.nextStep"> Next Step</span>&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>
            </button>
        </div>
    </div>
</div>
