
<div>
    <ul class="nav nav-pills">
        <li ng-class="{active: activeNav =='content' || !activeNav}"><a data-toggle="pill" href="" ng-click="showNav('content')"><span translate="manager.treeview.details.context.properties">Properties</span>
            <!--<span translate="{{ 'manager.treeview.details.context.' + ctxType}}"></span>--></a></li>
        <li ng-class="{active: activeNav =='permissions'}" ng-if="canManage && ctxType !='ITEM'"><a data-toggle="pill" href="" ng-click="showNav('permissions')"><span translate="manager.treeview.details.permissions"></span></a></li>
        <li ng-class="{active: activeNav =='targets'}" ng-if="hasTargetManagment && canManage"><a data-toggle="pill" href="" ng-click="showNav('targets')"><span translate="manager.treeview.details.targets"></span></a></li>
        <!--<li ng-if="canManage" role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span translate="manager.treeview.details.actions"></span> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <a href="" ng-click="edit()"><span translate="manager.treeview.details.actions.edit"></span></a>
            </ul>
        </li>-->
    </ul>

    <div class="tab-content">
        <div id="context" class="tab-pane fade in" ng-class="{active: activeNav =='content'}">
            <div ng-include="contextTemplate" ng-if="activeNav =='content'"></div>
        </div>
        <div id="permissions" class="tab-pane fade in" ng-class="{active: activeNav =='permissions'}">
            <div ng-include="permissionTemplate" ng-if="activeNav =='permissions'"></div>
        </div>
        <div id="targets" class="tab-pane fade in" ng-class="{active: activeNav =='targets'}">
            <div ng-include="targetsTemplate" ng-if="activeNav =='targets'"></div>
        </div>
    </div>
</div>
