<div>
    <div class="btn-group no-padding" role="group" aria-label="SearchOnUserType">
        <button ng-hide="searchType == 'PERSON'" type="button" class="btn btn-default" data-toggle="modal" data-target="#groupListModal{{searchId}}" ng-click="clearSubject()">
            <i class="fa fa-plus fa-fw"></i><span translate="publisherApp.subject.type.group"></span>
        </button>
        <button ng-hide="searchType == 'GROUP'" type="button" class="btn btn-default" data-toggle="modal" data-target="#userListModal{{searchId}}" ng-click="clearSubject()">
            <i class="fa fa-plus fa-fw"></i><span translate="publisherApp.subject.type.user"></span>
        </button>
        <button ng-hide="searchType == 'GROUP'" type="button" class="btn btn-default" data-toggle="modal" data-target="#userFromGroupListModal{{searchId}}" ng-click="clearSubject()">
            <i class="fa fa-plus fa-fw"></i><span translate="publisherApp.subject.type.userfromgroup"></span>
        </button>
    </div>

    <div class="modal fade" id="userListModal{{searchId}}" tabindex="-1" role="dialog" aria-labelledby="myUserListLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clearSubject()">&times;</button>
                    <h4 class="modal-title" translate="manager.treeview.details.search.targets.user">Result List</h4>
                </div>
                <div class="modal-body">
                    <form name="searchUserForm" class="form-inline" role="form" novalidate>
                        <div class="form-group">
                            <label for="search"><span translate="publisherApp.subject.user.search.label"></span>&nbsp;
                                <span class="fa fa-question-circle fa-lg" uib-tooltip-placement="top" uib-tooltip="{{ 'publisherApp.subject.user.search.desc' | translate }}"></span></label>
                            <div class="input-group" >
                                <input class="form-control" type="text" id="search" name="search" ng-model="search.queryUserTerm"
                                       placeholder="{{ 'manager.publish.targets.user.search.placeholder' | translate}}" ng-minlength="3" ng-required="true">
                                <div class="input-group-btn">
                                    <button type="button" class="btn" ng-disabled="(search.queryUserTerm + '').length < 2" ladda="loading" data-style="contract-overlay"
                                            ng-disabled="loading" ng-click="searchUser()">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </form>
                    <p></p>
                    <div ng-show="resultsArr.length > 0">
                        <div class="row">
                            <div class="col-xs-6 input-append">
                                <label for="filter" translate="manager.publish.targets.filter.label">Filter:</label>
                                <input id="filter" type="text" ng-model="search.filter" class="input-large search-query" placeholder="{{ 'manager.publish.targets.filter.placeholder' | translate}}">
                            </div>
                            <div class="col-xs-6 input-append">
                                <label for="nbItems" translate="manager.publish.targets.pager.nbItems">items per page:</label>
                                <select id="nbItems" ng-options="num for num in listNumPerPage" ng-model="numPerPage"></select>
                            </div>
                        </div>
                        <br>

                        <div>
                            <ul class="list-unstyled">
                                <li ng-repeat="user in resultsArr | filter:{displayName:search.filter}">
                                    <input type="radio" ng-value="user" ng-model="container.subject" ng-model-options="{ updateOn: 'default' , allowInvalid:'true'}">
                                    <span uib-tooltip-placement="top" uib-tooltip="{{ tooltipUser(user) }}"> {{user.displayName}}</span>
                                </li>
                            </ul>
                        </div>
                        <uib-pagination
                            ng-model="currentPage"
                            items-per-page="numPerPage"
                            total-items="userResult.length"
                            max-size="maxSize"
                            boundary-links="true">
                        </uib-pagination>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearSubject()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="!container.subject.modelId" ng-click="submitSubject()">
                        <span class="glyphicon glyphicon-ok-circle"></span>&nbsp;<span translate="entity.action.validate">Validate</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="groupListModal{{searchId}}" tabindex="-1" role="dialog" aria-labelledby="myGroupListLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clearSubject()">&times;</button>
                    <h4 class="modal-title" translate="manager.treeview.details.search.targets.group">Result List</h4>
                </div>
                <div class="modal-body">
                    <js-tree id="jsTreeGroup{{searchId}}" tree-ajax="/api/groups/{{currentCtxKey.keyId}}/{{currentCtxKey.keyType}}" tree-plugins="checkbox,sort"
                             tree-events="select_node:checkGroup;deselect_node:uncheckGroup" tree-core="treeCoreCtxGroups" tree-checkbox="treeCtxCheckboxConf"></js-tree>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearSubject()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="!container.subject.modelId" ng-click="submitSubject()">
                        <span class="glyphicon glyphicon-ok-circle"></span>&nbsp;<span translate="entity.action.validate">Validate</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="userFromGroupListModal{{searchId}}" tabindex="-1" role="dialog" aria-labelledby="myUserFromGroupListLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clearSubject()">&times;</button>
                    <h4 class="modal-title" translate="manager.treeview.details.search.targets.userFromGroup">Result List</h4>
                </div>
                <div class="modal-body">
                    <label><span translate="manager.publish.targets.userFromGroup.label"></span></label>
                    <js-tree id="jsTreeUserFromGroup{{searchId}}" tree-ajax="/api/groups/{{currentCtxKey.keyId}}/{{currentCtxKey.keyType}}" tree-plugins="sort"
                             tree-events="select_node:getUserOfGroup" tree-core="treeCoreUsersFG"></js-tree>

                    <div ng-show="resultsArr.length > 0">
                        <div class="row">
                            <div class="col-xs-6 input-append">
                                <label for="grpfilter" translate="manager.publish.targets.filter.label">Filter:</label>
                                <!--<input id="filter" type="text" ng-model="search.filter" ng-change="filter()" class="input-large search-query" placeholder="{{ 'manager.publish.targets.filter.placeholder' | translate}}">-->
                                <input id="grpfilter" type="text" ng-model="search.filter" class="input-large search-query" placeholder="{{ 'manager.publish.targets.filter.placeholder' | translate}}">
                            </div>
                            <div class="col-xs-6 input-append">
                                <label for="grpNbItems" translate="manager.publish.targets.pager.nbItems">items per page:</label>
                                <select id="grpNbItems" ng-options="num for num in listNumPerPage" ng-model="numPerPage"></select>
                            </div>
                        </div>
                        <br>

                        <div>
                            <ul class="list-unstyled">
                                <li ng-repeat="user in resultsArr | filter:{displayName:search.filter}">
                                    <input type="radio" ng-value="user" ng-model="container.subject" ng-model-options="{ updateOn: 'default' , allowInvalid:'true'}">
                                    <span uib-tooltip-placement="top" uib-tooltip="{{ tooltipUser(user) }}"> {{user.displayName}}</span>
                                </li>
                            </ul>
                        </div>
                        <uib-pagination
                            ng-model="currentPage"
                            items-per-page="numPerPage"
                            total-items="userResult.length"
                            max-size="maxSize"
                            boundary-links="true">
                        </uib-pagination>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearSubject()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="!container.subject.modelId" ng-click="submitSubject()">
                        <span class="glyphicon glyphicon-ok-circle"></span>&nbsp;<span translate="entity.action.validate">Validate</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
